.container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	margin-top: 50px;
	margin-bottom: 30px;
}

form {
	display: inline-block;
	text-align: left;
	margin-bottom: 50px;
}

label {
	display: block;
	font-size: 1.2em;
	margin-bottom: 10px;
}

select {
	font-size: 1.2em;
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: #eee;
}

input[type="submit"] {
	margin-top: 20px;
	font-size: 1.2em;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	background-color: #4CAF50;
	color: #fff;
	cursor: pointer;
}

#coefficients label {
	display: inline-block;
	margin-right: 10px;
}

#coefficients input {
	font-size: 1.2em;
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: #eee;
}

#variables label {
	display: block;
	font-size: 1.2em;
	margin-bottom: 10px;
}

#variables input {
	font-size: 1.2em;
	padding: 5px;
	border-radius: 5px;
	border: none;
	background-color: #eee;
}
